<<<<<<< HEAD
<h1> Welcome to the Chat room </h1>

We hope you get answers to all your questions.

<h2> Questions Asked </h2>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}} 
</ul>

{{new-question saveQuestion2="saveQuestion3"}}

<h2> All Answers </h2>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.content}} - by {{answer.author}}</li>
  {{/each}}
</ul>

<hr>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
=======
{{new-question saveQuiz='saveQuestion'}}
<hr>
<h2>Questions</h2>
{{#each model as |item|}}
	{{#link-to 'details' item.id}}
	By {{item.author}}
	<br>
	{{item.content}}
	<br>
    {{/link-to}}
{{/each}}
{{outlet}}
>>>>>>> origin/master
